<app-page-tittle
  title="Here you can try to search logs by username"
  subTitle="Use the form to find user's logs"></app-page-tittle>

<div class="managing-container">
  <app-navigation-link
    [navigationLinkOptions]="{
      title: 'GO BACK',
      navigateTo:'backRoute',
      isLeftArrow:true,
    }">
  </app-navigation-link>

  <app-navigation-link
    [navigationLinkOptions]="{
    title: 'GO NEXT',
    navigateTo:'/search/full-text',
    isLeftArrow:false,
  }">
  </app-navigation-link>
</div>

<div class="main-content__container">
  <div class="form__container">
    <app-search-form
      [searchFormOptions]="{
        title: 'Searcxh by username',
        titlePlaceholder: 'Enter username to find logs',
        isFullTextSearchForm: false
      }"
      (searchFormEmitter)="onSearchSubmit($event)"></app-search-form>
  </div>

  <ng-container
    *ngIf="searchResponse$ | async as searchResponse; else noSearchResult">
    <ng-container *ngIf="searchResponse.total.value; else emptySearchResult">
      <div>
        <app-user-log-cards
          [userLogs]="searchResponse.hits"></app-user-log-cards>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="searchResponse$ | async as searchResponse">
  <div class="paggination-container">
    <app-pagination
      [paginationOptions]="{
        currentPage: page,
        limit: limit,
        total: searchResponse.total.value
      }"
      (changePage)="changePage($event)"></app-pagination>
  </div>
</ng-container>

<ng-template #noSearchResult>
  <ng-container *ngIf="isLoading$ | async; else greetingText">
    <div class="loading-container">
      <app-loading-spiner
        [spinerOptions]="{ spinerSize: '60' }"></app-loading-spiner>
    </div>
  </ng-container>
</ng-template>

<ng-template #greetingText>
  <div class="empty-search-result-title">
    To see results, please, use the search form
  </div>
</ng-template>

<ng-template #emptySearchResult>
  <div class="empty-search-result-title">
    There is no information with your filters :(
  </div>
</ng-template>
