<header class="header">
  <div>
    <a [routerLink]="['/']">
      <fa-icon [icon]="faHome"></fa-icon>
      <span class="header-link-text">home</span></a
    >
  </div>

  <div>
    <a [routerLink]="['/search']">
      <fa-icon [icon]="faSearch"></fa-icon>
      <span class="header-link-text">searching</span></a
    >
  </div>

  <div>
    <a [routerLink]="['/statistic']">
      <fa-icon [icon]="faChartBar"></fa-icon>
      <span class="header-link-text">statistic</span></a
    >
  </div>
</header>
