<app-page-tittle
  title="Here you can try to search data by word or phrase"
  subTitle="Use the form to find exactly what you need"></app-page-tittle>

<div class="managing-container">
  <app-navigation-link
    [navigationLinkOptions]="{
      title: 'GO BACK',
      navigateTo: backRoute,
      isLeftArrow:true,
    }">
  </app-navigation-link>

  <app-navigation-link
    [navigationLinkOptions]="{
      title: 'GO NEXT',
      navigateTo: '/search/by-username',
      isLeftArrow:false,
    }">
  </app-navigation-link>
</div>

<div class="main-content__container">
  <div class="form__container">
    <app-search-form
      [searchFormOptions]="{
        title: 'Full-Text Search',
        titlePlaceholder: 'Enter a word or a phase for search',
        isFullTextSearchForm: true
      }"
      (searchFormEmitter)="onSearchSubmit($event)"></app-search-form>
  </div>

  <ng-container
    *ngIf="searchResponse$ | async as searchResponse; else noSearchResult">
    <div>
      <!-- <h3 class="search-result-title">Here are the results of your query:</h3> -->

      <ng-container *ngIf="searchResponse$ | async as searchResponse">
        <ng-container *ngIf="searchResponse.suggestions.length">
          <p class="search-result__suggestions-title">Perhaps you meant:</p>
          <div
            class="search-result__suggestion"
            *ngFor="let suggestion of searchResponse.suggestions">
            <span>
              {{ suggestion.text }}
            </span>
          </div>
        </ng-container>
      </ng-container>

      <app-user-log-cards [userLogs]="searchResponse.hits"></app-user-log-cards>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="searchResponse$ | async as searchResponse">
  <div class="paggination-container">
    <app-pagination
      [paginationOptions]="{
        currentPage: page,
        limit: limit,
        total: searchResponse.total.value
      }"
      (changePage)="changePage($event)"></app-pagination>
  </div>
</ng-container>

<ng-template #noSearchResult>
  <ng-container *ngIf="isLoading$ | async; else greetingText">
    <div class="loading-container">
      <app-loading-spiner
        [spinerOptions]="{ spinerSize: '60' }"></app-loading-spiner>
    </div>
  </ng-container>
</ng-template>

<ng-template #greetingText>
  <div class="empty-search-result-title">
    To see results, please, use the search form
  </div>
</ng-template>
