<form class="form" [formGroup]="statisticForm" (ngSubmit)="onSubmit()">
  <p class="form-title">{{ formTitle }}</p>

  <ng-container *ngIf="isAdvancedForm">
    <div class="field">
      <label>Time Interval</label>
      <select formControlName="interval">
        <option value="month">Month</option>
        <option value="week">Week</option>
        <option value="day">Day</option>
      </select>
    </div>
  </ng-container>

  <div class="field">
    <label class="label">Date from</label>
    <input
      [class.error_input]="isDateRangeInvalid()"
      type="date"
      formControlName="dateFrom" />
  </div>

  <div class="field">
    <label class="label">Date To</label>
    <input
      [class.error_input]="isDateRangeInvalid()"
      type="date"
      formControlName="dateTo" />
  </div>

  <ng-container *ngIf="isDateRangeInvalid()">
    <span class="error-message">
      Date range should be less than 3 month</span
    ></ng-container
  >

  <div class="submit-button__container">
    <button [disabled]="!isFormValid()" class="submit-button">SEARCH</button>
  </div>
</form>
