<app-page-tittle title="Check the service usage activity"></app-page-tittle>

<div class="managing-container">
  <app-navigation-link
    [navigationLinkOptions]="{
          title: 'GO BACK',
          navigateTo: backRoute,
          isLeftArrow:true,
        }">
  </app-navigation-link>

  <app-navigation-link
    [navigationLinkOptions]="{
          title: 'GO NEXT',
          navigateTo: '/statistic/users-activity',
          isLeftArrow:false,
        }">
  </app-navigation-link>
</div>

<div class="main-content__container">
  <div class="form__container">
    <app-statistic-form
      formTitle="Search usage activity"
      [isAdvancedForm]="true"
      (statsFormEmitter)="onFormSubmit($event)"></app-statistic-form>
  </div>

  <ng-container
    *ngIf="
      usageActivityStats$ | async as usageActivityStats;
      else noDataOrLoading
    ">
    <ng-container *ngIf="usageActivityStats.labels.length; else noData">
      <div class="charts-wrapper">
        <div class="chart-wrapper__wide">
          <canvas
            baseChart
            [datasets]="usageActivityStats.datasets"
            [labels]="usageActivityStats.labels"
            [options]="chart.options"
            [legend]="chart.legend"
            [type]="chart.type">
          </canvas>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #noData>
  <div class="emty-response">We are sorry, there is no statistic :(</div>
</ng-template>

<ng-template #noDataOrLoading>
  <ng-container *ngIf="isLoading$ | async as isLoading; else noData">
    <div class="loading-container">
      <app-loading-spiner
        [spinerOptions]="{ spinerSize: '60' }"></app-loading-spiner>
    </div>
  </ng-container>
</ng-template>
