<app-page-tittle title="See how active users are"></app-page-tittle>

<div class="managing-container">
  <app-navigation-link
    [navigationLinkOptions]="{
        title: 'GO BACK',
        navigateTo: backRoute,
        isLeftArrow:true,
      }">
  </app-navigation-link>

  <app-navigation-link
    [navigationLinkOptions]="{
        title: 'GO NEXT',
        navigateTo: '/statistic/usage-activity',
        isLeftArrow:false,
      }">
  </app-navigation-link>
</div>

<div class="main-content__container">
  <div class="form__container">
    <app-statistic-form
      (statsFormEmitter)="onFormSubmit($event)"></app-statistic-form>
  </div>

  <div class="chart_checkbox-container">
    <fieldset>
      <legend>Select what charts would you like to see</legend>
      <div class="checkbox_container">
        <ng-container *ngFor="let checkBox of chartCheckBoxOptions">
          <div>
            <input
              type="checkbox"
              [id]="checkBox.id"
              (change)="updateChartVisibility(checkBox.type, $event)"
              [checked]="checkBox.isVisibleByDefaut" />
            <label [for]="checkBox.id">{{ checkBox.label }}</label>
          </div>
        </ng-container>
      </div>
    </fieldset>

    <ng-container
      *ngIf="userActivityStats$ | async as userActivityStats; else noData">
      <div class="charts-wrapper">
        <ng-container *ngFor="let chart of availableCharts">
          <div
            [ngClass]="{
             'chart-wrapper__wide': chart.isWide ,
             'chart-wrapper__slim': !chart.isWide,}">
            <canvas
              baseChart
              [datasets]="userActivityStats.datasets"
              [labels]="userActivityStats.labels"
              [options]="chart.options"
              [legend]="chart.legend"
              [type]="chart.type">
            </canvas>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <ng-container *ngIf="isLoading$ | async as isLoading; else emtyResponse">
    <div class="loading-container">
      <app-loading-spiner
        [spinerOptions]="{ spinerSize: '60' }"></app-loading-spiner>
    </div>
  </ng-container>
</ng-template>

<ng-template #emtyResponse>
  <div class="emty-response">We are sorry, there is no statistic :(</div>
</ng-template>
