<app-page-tittle title="See how active users are"></app-page-tittle>

<div class="managing-container">
  <app-navigation-link
    [navigationLinkOptions]="{
        title: 'GO BACK',
        navigateTo: backRoute,
        isLeftArrow:true,
      }">
  </app-navigation-link>

  <app-navigation-link
    [navigationLinkOptions]="{
        title: 'GO NEXT',
        navigateTo: '/statistic/usage-activity',
        isLeftArrow:false,
      }">
  </app-navigation-link>
</div>

<div class="main-content__container">
  <div class="form__container">
    <app-statistic-form
      (statsFormEmitter)="onFormSubmit($event)"></app-statistic-form>
  </div>

  <div class="chart_checkbox-container">
    <fieldset>
      <legend>Select what charts would you like to see</legend>
      <div class="checkbox_container">
        <div>
          <input type="checkbox" id="bar" name="bar" [(ngModel)]="isBarChart" />
          <label for="bar">Bar-chart</label>
        </div>

        <div>
          <input
            type="checkbox"
            id="doughnut"
            name="doughnut"
            [(ngModel)]="isDoughnutChart" />
          <label for="doughnut">Doughnut-chart</label>
        </div>

        <div>
          <input
            type="checkbox"
            id="radar"
            name="radar"
            [(ngModel)]="isRadarChart" />
          <label for="radar">Radar-chart</label>
        </div>

        <div>
          <input
            type="checkbox"
            id="line"
            name="line"
            [(ngModel)]="isLineChart" />
          <label for="line">Line-chart</label>
        </div>
      </div>
    </fieldset>

    <ng-container
      *ngIf="userActivityStats$ | async as userActivityStats; else noData">
      <div class="charts-wrapper">
        <div class="chart-wrapper__bar" *ngIf="isBarChart">
          <canvas
            baseChart
            [datasets]="userActivityStats.chartDatasets"
            [labels]="userActivityStats.chartLabels"
            [options]="barChartData.chartOptions"
            [legend]="barChartData.chartLegend"
            [type]="barChartData.chartType">
          </canvas>
        </div>

        <div class="chart-wrapper_line">
          <div class="chart-wrapper__doughnut" *ngIf="isDoughnutChart">
            <canvas
              baseChart
              [datasets]="userActivityStats.chartDatasets"
              [labels]="userActivityStats.chartLabels"
              [options]="doughnutChartData.chartOptions"
              [legend]="doughnutChartData.chartLegend"
              [type]="doughnutChartData.chartType">
            </canvas>
          </div>

          <div class="chart-wrapper__radar" *ngIf="isRadarChart">
            <canvas
              baseChart
              [datasets]="userActivityStats.chartDatasets"
              [labels]="userActivityStats.chartLabels"
              [options]="radarChartData.chartOptions"
              [legend]="radarChartData.chartLegend"
              [type]="radarChartData.chartType">
            </canvas>
          </div>
        </div>

        <div class="chart-wrapper__line" *ngIf="isLineChart">
          <canvas
            baseChart
            [datasets]="userActivityStats.chartDatasets"
            [labels]="userActivityStats.chartLabels"
            [options]="lineChartData.chartOptions"
            [legend]="lineChartData.chartLegend"
            [type]="lineChartData.chartType">
          </canvas>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <ng-container *ngIf="isLoading$ | async as isLoading; else emtyResponse">
    <div class="loading-container">
      <app-loading-spiner
        [spinerOptions]="{ spinerSize: '60' }"></app-loading-spiner>
    </div>
  </ng-container>
</ng-template>

<ng-template #emtyResponse>
  <div class="emty-response">We are sorry, there is no statistic :(</div>
</ng-template>
