<app-page-tittle title="See how active users are"></app-page-tittle>

<div class="managing-container">
  <app-navigation-link
    [navigationLinkOptions]="{
        title: 'GO BACK',
        navigateTo: backRoute,
        isLeftArrow:true,
      }">
  </app-navigation-link>

  <app-navigation-link
    [navigationLinkOptions]="{
        title: 'GO NEXT',
        navigateTo: '/statistic/usage-activity',
        isLeftArrow:false,
      }">
  </app-navigation-link>
</div>

<div class="main-content__container">
  <div class="form__container">
    <app-statistic-form
      (statsFormEmitter)="onFormSubmit($event)"></app-statistic-form>
  </div>

  <div class="charts-wrapper">
    <ng-container
      *ngIf="userActivityStats$ | async as userActivityStats; else noData">
      <ng-container
        *ngIf="userActivityStats.chartLabels.length; else emtyResponse">
        <div class="chart-wrapper">
          <canvas
            baseChart
            [datasets]="userActivityStats.chartDatasets"
            [labels]="userActivityStats.chartLabels"
            [options]="chartOptions"
            [plugins]="chartPlugins"
            [legend]="chartLegend"
            [type]="chartType">
          </canvas>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <ng-container *ngIf="isLoading$ | async as isLoading; else emtyResponse">
    <div class="loading-container">
      <app-loading-spiner
        [spinerOptions]="{ spinerSize: '60' }"></app-loading-spiner>
    </div>
  </ng-container>
</ng-template>

<ng-template #emtyResponse>
  <div class="emty-response">We are sorry, there is no statistic :(</div>
</ng-template>
